.animate-mount {
    animation: mount 0.2s linear;
    animation-fill-mode: forwards;
}

@keyframes mount {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-unmount {
    animation: unmount 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes unmount {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal_container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    z-index: 10;
}

.modal {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.modal > div {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.modal.small > div {
    width: 550px;
    height: 250px;
}

.modal.medium > div {
    width: 50vw;
}

@media (max-width: 768px) {
    .modal.small > div {
        width: 80%;
    }
}

.modal_header {
    padding: 0 1rem .5rem 1rem;
    border-bottom: 1px solid #777;
    display: flex;
    justify-content: space-between;
}

.modal_title {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.modal_close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: .5rem 0 0 0;
    cursor: pointer;
    align-self: flex-start;
    transition: 100ms;
}

.modal_close-button:hover {
    scale: 1.2;
}

.modal_body {
    flex-grow: 1;
    overflow: auto;
    padding: 1rem;
}

.modal_footer {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    border-top: 1px solid #777;
}

.modal_footer button {
    margin-right: 1rem;
}

.modal_footer button:last-child {
    margin-right: 0;
}
