:root {
    --primary: #457b9d;
    --primary-active: #518eb8;
    --secondary: #a8dadc;
    --secondary-active: #baf3f5;
    --error: #e63946;
    --error-active: #ff4050;
    --background-light: #f1faee;
    --background-dark: #1d3557;
    --background-dark-hover: rgb(22, 42, 68);
    --button-transition-duration: 150ms;
    --light-grey: #ebebeb;
    --medium-grey: #CACCD5;
}

*, *:active, *:before, *:after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body > #root {
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
